USE [master]
GO
/****** Object:  Database [tp1Asp]    Script Date: 9/3/2018 1:13:46 PM ******/
CREATE DATABASE [tp1Asp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tp1Asp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.OULDEVELOPER\MSSQL\DATA\tp1Asp.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'tp1Asp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.OULDEVELOPER\MSSQL\DATA\tp1Asp_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tp1Asp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tp1Asp]
GO
/****** Object:  Table [dbo].[autocar]    Script Date: 9/3/2018 1:13:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[autocar](
	[code_car] [varchar](55) NOT NULL,
	[date_achat] [date] NULL,
	[consommation] [varchar](255) NULL,
	[nom_marque] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[code_car] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[calendrier]    Script Date: 9/3/2018 1:13:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[calendrier](
	[code_calendrier] [varchar](55) NOT NULL,
	[jour_vouyage] [varchar](55) NULL,
	[heur_depart] [int] NULL,
	[heur_arrive] [int] NULL,
	[code_ligne] [varchar](55) NULL,
PRIMARY KEY CLUSTERED 
(
	[code_calendrier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ligne]    Script Date: 9/3/2018 1:13:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ligne](
	[code_ligne] [varchar](55) NOT NULL,
	[distance] [int] NULL,
	[code_ville_arrive] [varchar](55) NULL,
PRIMARY KEY CLUSTERED 
(
	[code_ligne] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[marque]    Script Date: 9/3/2018 1:13:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[marque](
	[nom_marque] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nom_marque] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[personnel]    Script Date: 9/3/2018 1:13:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[personnel](
	[matricule] [varchar](55) NOT NULL,
	[nom] [varchar](55) NULL,
	[prenom] [varchar](55) NULL,
	[telephone] [varchar](55) NULL,
	[passe] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[matricule] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ville]    Script Date: 9/3/2018 1:13:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ville](
	[code_ville] [varchar](55) NOT NULL,
	[nom_ville] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[code_ville] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[voyage]    Script Date: 9/3/2018 1:13:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[voyage](
	[voyagecode] [int] NOT NULL,
	[dh_depart_voyage] [date] NULL,
	[dh_arive_voyagage] [date] NULL,
	[places] [varchar](55) NULL,
	[compteur_depart] [int] NULL,
	[compteur_arrive] [int] NULL,
	[matricule] [varchar](55) NULL,
	[code_car] [varchar](55) NULL,
	[code_calendrier] [varchar](55) NULL,
PRIMARY KEY CLUSTERED 
(
	[voyagecode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[autocar]  WITH CHECK ADD FOREIGN KEY([nom_marque])
REFERENCES [dbo].[marque] ([nom_marque])
GO
ALTER TABLE [dbo].[calendrier]  WITH CHECK ADD FOREIGN KEY([code_ligne])
REFERENCES [dbo].[ligne] ([code_ligne])
GO
ALTER TABLE [dbo].[ligne]  WITH CHECK ADD FOREIGN KEY([code_ville_arrive])
REFERENCES [dbo].[ville] ([code_ville])
GO
ALTER TABLE [dbo].[voyage]  WITH CHECK ADD FOREIGN KEY([code_calendrier])
REFERENCES [dbo].[calendrier] ([code_calendrier])
GO
ALTER TABLE [dbo].[voyage]  WITH CHECK ADD FOREIGN KEY([code_car])
REFERENCES [dbo].[autocar] ([code_car])
GO
ALTER TABLE [dbo].[voyage]  WITH CHECK ADD FOREIGN KEY([matricule])
REFERENCES [dbo].[personnel] ([matricule])
GO
USE [master]
GO
