USE [master]
GO
/****** Object:  Database [tpAsp2]    Script Date: 9/3/2018 1:14:20 PM ******/
CREATE DATABASE [tpAsp2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tpAsp2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.OULDEVELOPER\MSSQL\DATA\tpAsp2.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'tpAsp2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.OULDEVELOPER\MSSQL\DATA\tpAsp2_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tpAsp2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tpAsp2]
GO
/****** Object:  Table [dbo].[assvehicule]    Script Date: 9/3/2018 1:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[assvehicule](
	[idass] [int] NOT NULL,
	[nomassureur] [varchar](55) NULL,
	[dateass] [date] NULL,
	[dateexpiration] [date] NULL,
	[immat] [varchar](55) NULL,
PRIMARY KEY CLUSTERED 
(
	[idass] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[conducteur]    Script Date: 9/3/2018 1:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[conducteur](
	[idconducteur] [int] IDENTITY(1,1) NOT NULL,
	[nomc] [varchar](55) NULL,
	[prenc] [varchar](55) NULL,
	[daten] [date] NULL,
	[pass] [varchar](55) NULL,
PRIMARY KEY CLUSTERED 
(
	[idconducteur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[entretien]    Script Date: 9/3/2018 1:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[entretien](
	[identveh] [int] IDENTITY(1,1) NOT NULL,
	[immat] [varchar](55) NULL,
	[idconducteur] [int] NULL,
	[dateentretien] [date] NULL,
	[kmvehicule] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[identveh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[vihicule]    Script Date: 9/3/2018 1:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[vihicule](
	[immat] [varchar](55) NOT NULL,
	[marque] [varchar](55) NULL,
	[model] [varchar](55) NULL,
	[puissance] [int] NULL,
	[carburant] [varchar](55) NULL,
	[dateach] [date] NULL,
	[compteur] [int] NULL,
	[conducteur] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[immat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[assvehicule]  WITH CHECK ADD FOREIGN KEY([immat])
REFERENCES [dbo].[vihicule] ([immat])
GO
ALTER TABLE [dbo].[entretien]  WITH CHECK ADD FOREIGN KEY([idconducteur])
REFERENCES [dbo].[conducteur] ([idconducteur])
GO
ALTER TABLE [dbo].[entretien]  WITH CHECK ADD FOREIGN KEY([immat])
REFERENCES [dbo].[vihicule] ([immat])
GO
ALTER TABLE [dbo].[vihicule]  WITH CHECK ADD FOREIGN KEY([conducteur])
REFERENCES [dbo].[conducteur] ([idconducteur])
GO
USE [master]
GO
